*{
    padding: 0;
    margin: 0;
}
body{
    width: 1400px;
    text-align: center;
    margin:0 auto;
}
ul{
    list-style: none;
}

/* 导航样式 */
    header{
        background: #2b2b2b;
        width: 1400px;
        height: 44px;
        overflow: hidden;
    }
    .nav{
        overflow: hidden;
    }

.nav_left{
    float: left;
    width: 70px;
    height: 26px;
    line-height: 26px;
    margin: 50% auto;
    margin-top:13px;
    margin-left: 262px;
}
.nav_left img{
    width: 70px;
    height: 26px;
}

.nav_right{
    float: right;
    width: 445px;
    text-align: center;
    line-height: 48px;
    overflow: hidden; 
    margin-right: 263px;
}
.nav_right ul li{
    float: left;
}
.nav_right ul li a{
    font-size: 12px;
    color: #a1a1a1;
    font-family: "Source Han Sans CN";
    text-decoration: none;
    margin-left: 22px;
}
.nav_right ul li a:hover{
    color:#00c0a9;
}

/* .main{
    position: relative;
} */

/* 轮播 */
#banner{
    width: 1400px;
    height: 420px;
    background: #E6E6E6;
}
#banner_img{
    width: 1400px;
    height: 420px;
    overflow: hidden;
    position: relative;
}
#ul_img{
    position: absolute;
    cursor: pointer;
    width:5600px;
    height: 420px;
}
#ul_img img{
    width: 1400px;
    height: 420px;
}
#ul_img li{
    float: left;
}
#div3{
    position: relative;
    top:-42px;
    width: 112px;
    height: 25px;
    margin:auto;
    background: #192055;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiet{
    width: 8px;
    height: 8px;
     margin: 0 5px; 
     float: left;
     border-radius: 50%;
     background: #a1a2ba;
     cursor: pointer;
    }
.active{
    float: left;
    width: 40px;
    height: 8px;
     margin: 0 5px; 
     border-radius:50px;
     background: #dcdce6;
     cursor: pointer;
    }
/* work */
.work_point{
    width: 1400px;
    height: 733px;
    background: url("../images/work/work_bg1.png");
    background-size: 1400px 733px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.work_top{
    width:379px;
    height: 39px;
    color:#00fffa;
    font-family: "Source Han Sans CN";
    font-size: 28px;
    font-weight: bold;
    background: url("../images/work/work_bg3.png");
    background-size: 379px 39px;
    background-repeat: no-repeat;
    margin:51px auto;
}
.work_button{
    margin-top: 44px;
}
.button_left{
    display: inline-block;
    width:190px;
    height:47px;
    line-height: 47px;
    background: url("../images/work/button.png");
    background-size: 190px 47px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}
.button_right{
    display: inline-block;
    margin-left: 143px;
    width:190px;
    height:47px;
    line-height: 47px;
    background: url("../images/work/button1.png");
    background-size: 190px 47px;
    font-size: 20px;
    color: #82819f;
    font-family: "Source Han Sans CN";
    cursor: pointer;
}
.work_body1{
    padding: 29px;
    width: 818px;
    height: 384px;
    border: 1px solid #5af9ff;
    border-radius: 6px;
    margin:36px auto;
    color: #ffffff;
    background-color: #130854;
}
.top_1 p{
    float: left;
    display: block;
    font-size: 13px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}
.work_body1 article{
    float: left;
    text-align: left;
    margin-top: 18px;
    display: block;
    color: white;
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}
.work_rec{
    width: 843px;
    overflow: hidden;
}
.rec_10,.rec_20,.rec_30{
    border-bottom:4px solid #00fffa;
}
.rec_1 , .rec_2 , .rec_3{
    border-top: 4px solid #00fffa;
}
.rec_1 , .rec_2 , .rec_3,.rec_10 ,.rec_20,.rec_30{
    float: left;
    margin-right: 28px;
}
.rec_10,.rec_20,.rec_30{
    display: none;
}

.rec_1 , .rec_2 , .rec_3{
    width: 253px;
    height: 278px;  
    margin-top: 25px;
    text-align: center;
    background-color: #fff;
}
.rec_10 ,.rec_20,.rec_30{
    width: 253px;
    height: 278px;  
    margin-top: 25px;
    text-align: center;
    background-color: #f4fdff;
}
.rec_p11{
    width: 100%;
    text-align:center;
    font-size: 14px;
    line-height: 17px;
    color: #070707;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 5px;
}
.rec_p21 span{
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 17px;
    color: #070707;
    font-family: "Source Han Sans CN";
}
.div_item{
    margin: 0 auto;
    margin-top: 5px;
    width: 41px;
    height: 2px;
    background-color: #dbdbdb;
}
.rec_a11{
    margin-left: 20px;
    margin-top: 19px;
    width: 211px;
    font-size: 12px;
    line-height: 15px;
    color: #080808;
    font-family: "Source Han Sans CN";
    text-align: left;
}
.work2_point{
    position: absolute;
    top: 355px;
    z-index: -1;
    width: 1400px;
    height: 734px;
    background: url("../images/work/work_bg2.png");
    background-size: 1400px 734px;
}
.risk{
    width: 84px;
    height: 84px;
    text-align: center;
    border: 11px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    margin:0 auto;
    margin-top: 25px;
}
.risk:hover{
    border-color: #00fffa;  
}
.risk a img{
    width: 54px;
    height: 52px;
    margin-top: 17px;
}
.rec_p1{
    width: 100%;
    text-align:center;
    font-size: 14px;
    line-height: 17px;
    color: #070707;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin-top: 28px;   
    margin-bottom: 5px;
}
.rec_p2  span{
    margin-top: 20px;   
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin-top: 5px;   
    font-size: 12px;
    line-height: 17px;
    color: #070707;
    font-family: "Source Han Sans CN";
}
.more{
    width: 91px;
    height: 22px;
    border-radius: 4px;
    background-color: #13d2cc;
    line-height: 22px;
    font-size: 12px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
}
 .work_body2{
    padding: 25px 29px;
    width: 818px;
    height: 425px;
    background-color: #130854;
    border: 1px solid #5af9ff;  
    border-radius: 6px;
    margin:36px auto;
    color: #ffffff;
    display: none;
}
.work_body2 article{
    float: left;
    text-align: left;
    margin-top: 18px;
    display: block;
    color: white;
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}
.work_rec1{
    width: 843px;
    display:inline-flex;
}
.work_rec1 div:nth-child(2){
    margin-left:29px;
    margin-right: 29px;
}
.rec_11{
    width: 253px;
    height: 271px;
    margin-top: 44px;
    text-align: center;
    background-color: #013db2;
}
.rec_22{
    width: 254px;
    height: 345px;
    margin-top: 15px;
    text-align: center;
    background-color: #008581;
}
.rec_33{
    width: 253px;
    height: 284px;
    margin-top: 44px;
    text-align: center;
    background-color: #462eb2;
}
.rec_top11{
    position: relative;
    width: 253px;
    height: 93px;
    background-color: #006bd7;
    overflow: hidden;
}
.rec_tri{
    position: absolute;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 40px solid #fff;
    border-left: 41px solid transparent;
}
.rec_top11 p{
    margin: 0 auto;
    margin-top: 27px;
    width: 196px;
    font-size: 14px;
    text-align: center;
    line-height: 23px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: bold;
}
.rec_tri div {
    font-size: 17px;
    line-height: 15px;
    color: #10084b;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    position: absolute;
    top: -35px;
    left: -13px;
}
.rec_bottom11{
    width: 194px;
    height: 185px;
    margin:0 auto;
    margin-top: 30px;
}
.rec_bottom11 p{
    width: 210px;
    height: 235px;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    text-align: left;
}

.rec_top22{
    position: relative;
    width: 254px;
    height: 101px;
    background-color: #00d2cc;
    overflow: hidden;
}
.rec_top22 p{
    margin: 0 auto;
    margin-top: 32px;
    width: 123px;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    }
.rec_tri div {
    font-size: 17px;
    line-height: 15px;
    color: #10084b;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    position: absolute;
    top: -35px;
    left: -14px;
}
.rec_bottom22 p{
    margin-top: 24px;
    width: 208px;
    height: 235px;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    text-align: left;
}   

.rec_top33{
    position: relative;
    width: 253px;
    height: 93px;
    background-color: #7b45fa;
    overflow: hidden;
}
.rec_top33 p{
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin-top: 38px;
}
.rec_bottom33{
    width: 208px;
    height: 235px;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    text-align: left;
    margin-top: 31px;
}
/* 破冰者 */
.it_ice{    
    background-color: white;
    width: 1400px;
}
.ice_body{
    background:url("../images/ice_body.png");
    width: 1400px;
    height: 874px;
    background-repeat: no-repeat;
    margin-top: 62px;
    background-size: 1400px 874px;
}
.ice_top{
    width:465px;
    background: url("../images/work/ice_top.png");
    background-repeat: no-repeat;
    margin:0 auto;
    background-size: 465px 39px;

}
.ice_top p{
    width: 358px;
    height: 93px;
    font-size: 28px;
    line-height: 42px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.ice_childbody{
    width: 878px;
    height: 340px;
    margin:0 auto;
    margin-top:18px;
    border-radius: 7px; 
    overflow: hidden;
    box-shadow: 0 0 38px rgba(0,0,0,0.12);
}
.ice_left{
    float: left;
    width:408px;
    height: 340px;
    background-color: #fff;
}
.ice_ltop{
    width: 307px;
    margin:0 auto;
    margin-top: 34px;
}
.ice_ltop p:first-child{
    width: 316px;
    font-size: 15px;
    line-height: 29px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #0e0846;
}
.ice_ltop p:last-child{
    width: 308px;
    font-size: 15px;
    line-height: 29px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #0e0846;
}
.dialog{
    width: 229px;
    height: 84px;
    margin-top: 25px;
    margin-left: 27px;
    overflow: hidden;
}
.dialog_left{
    float: left;
    width: 34px;
    height: 84px;
    overflow: hidden;
}
.dialog_left img{
    width: 34px;
    height: 34px;
    margin-top: 50px;
}
#dialog_right{
    margin-left: 38px;
    width: 191px;
    height: 84px;
    overflow: hidden;
    border-radius: 39px 39px 39px 0px;
    background:#071d50;
}
.dialog_right div:first-child{
    width: 125px;
    margin: 0 auto;
    margin-top: 20px;
}
.dialog_right p{
    margin: 0 atuo;
    font-size:13px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}
#right_onclick{
    cursor: pointer;
}

.dialog_gray{
    width: 229px;
    height: 84px;
    margin-top: 26px;
    margin-left: 155px;
}
.dialog_gleft{
    float: right;
    width: 34px;
    height: 84px;
    overflow: hidden;
}
.dialog_gleft img{
    width: 34px;
    height: 34px;
    margin-top: 50px;
}
.dialog_gright{
    width: 191px;
    height: 84px;
    overflow: hidden;
    border-radius: 39px 39px 0px 39px;
    background-color: #e6e6e6;
}
.dialog_gright div:first-child{
    width: 130px;
    margin: 0 auto;
    margin-top: 20px;

}
.dialog_gright p{
    margin: 0 atuo;
    font-size:13px;
    line-height: 20px;
    color: #111450;
    text-align: left;
    font-family: "Source Han Sans CN";
}
#gright_onclick{
    cursor: pointer;
}

.ice_right{
    float: right;
    left: 408px;
    width: 470px;
    height: 340px;
    background-color: #081c50;
}
.ice_rdisplay2{
    display: none;
}
.ice_rtop p{
    width: 384px;
    text-align: left;
    margin-left: 53px;
    font-size: 15px;
    line-height: 20px;
    color: #7d7d7d;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    padding-top: 31px;
}
.ice_rtop ul li{
    width: 384px;
    font-size: 12px;
    list-style: disc;
    color: #fff;
    font-family: "Source Han Sans CN";
    text-align: left;
    margin-left: 53px;
    margin-top: 15px;
}
.ice_rbottom{
    width: 234px;
    height:26px;
    line-height: 26px;
    font-size: 12px;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    border-radius: 12px;
    margin-left: 53px;
    margin-top: 46px;
    border: 1px solid #00ffff; 
    color: #13d2cc;
    cursor: pointer;
}
.ice_rbottom:hover{
    background-color: #13d2cc;
    color: #ffffff;
}
.ice_rbottom1:hover{
    background-color: #13d2cc;
    color: #ffffff;
}
.ice_rbottom1{
    width: 232px;
    height:24px;
    border-radius: 12px;
    margin-left: 53px;
    margin-top: 14px;
    border: 1px solid #00ffff; 
    font-size: 12px;
    line-height: 24px;
    color: #13d2cc;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    cursor: pointer;
}
.ice_rtop1 p{
    width: 384px;
    text-align: left;
    margin-left: 36px;
    font-size: 15px;
    line-height: 20px;
    color: #7d7d7d;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    margin-top: 5px;
}
.ice_rtop1 > ul li{
    width: 416px;
    list-style: disc;
    color: #fff;
    font-family: "Source Han Sans CN";
    text-align: left;
    margin-left: 36px;
    margin-top: 6px;
}
.ice_rbottom2{
    width: 234px;
    height:26px;
    line-height: 26px;
    font-size: 12px;
    color: #13d2cc;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    border-radius: 12px;
    margin-left: 53px;
    margin-top: 4px;
    border: 1px solid #00ffff; 
    cursor: pointer;
}
.ice_rbottom2:hover{
    background-color: #13d2cc;
    color: #ffffff;
}
.ice_rbottom12:hover{
    background-color: #13d2cc;
    color: #ffffff;
}
.ice_rbottom12{
    width: 232px;
    height:24px;
    border-radius: 12px;
    margin-left: 53px;
    margin-top: 8px;
    border: 1px solid #00ffff; 
    font-size: 12px;
    line-height: 24px;
    color: #13d2cc;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    cursor: pointer;
}

/* 全方位服务你的学习 */
.it_serve{
    margin-top: -372px;
    width: 1400px;
    overflow: hidden;
}

.serve_top{
    width: 465px;
    background-image: url("../images/work/ice_top.png");
    background-size: 465px 39px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.serve_top p{
    width: 349px;
    font-size: 26px;
    line-height: 42px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}
.serve_lbody{
    float: left;
    width: 392px;
    border-radius: 7px;
    background-color: #ffffff;
    margin-left: 263px;
    margin-top: 31px;
    overflow: hidden;
}
.serve_lbody > p{
    font-size: 15px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin-top: 26px;
}
.serve_lbody  div{
    width: 341px;
    padding:0px 27px;
    text-align: left;   
    margin-bottom: 7px;
}
.serve_lbody div p:last-child{
    font-size: 12px;
    color:#333 ;
}
.top_art{
    margin-top: 15px;
}
.serve_lbody  div > p{
    font-size: 14px;
    color: #000000;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    margin-bottom:7px; 
}
.lbody_gray{
    background:#f8f8f8;
}
.lbody_end p:last-child{
margin-bottom: 39px;
}
.serve_vs{
    position: relative;
    top: 114px;
    margin-left: 642px;
    width:111px;
    height: 78px;
    background: url("../images/vs.png");
    background-size: 111px 78px;
    z-index: 2;
}
.serve_rbody{
    width: 395px;
    float: right; 
    margin-top: -49px; 
    margin-right: 261px; 
    overflow: hidden;
    border-radius: 0 0 7px 7px;
}
.rbody_top{
    width: 100%;
    height: 64px;
    font-size: 15px;
    background-color: #0c64bd;
    line-height: 64px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.rbody_topy{
    width: 100%;
    height: 30px;
    margin-top: -15px;
    background: #013db2;
    position: relative;
    z-index: 0;
}
.rbody_topy > div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0c64bd;
    margin: 0 auto;

}
.rbody_topy >div img{
    width:13 px;
    height: 8px;
    margin-top: 15px;
}
.rbody_footer{
    width: 100%;
    background-color: #013db2;
    overflow: hidden;
}
.rbody_footer div{
    width: 339px;
    margin: 0 auto;
    overflow: hidden;
}
.rbody_footer div:last-child{
    margin-bottom: 21px;
}
.rbody_footer p:first-child{
    margin-top: 17px;
    text-align: left;
    margin-bottom: 3px;
}
.rbody_footer span{
    padding: 0px 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #fff;
    background-color: #0e0846;
    font-size: 14px;
    font-family: "Source Han Sans CN";
    font-weight: 500;
}
.rbody_footer div p:last-child{
    text-align: left;
    font-size: 12px;
    color:#ccc;
    font-family: "Source Han Sans CN";
    font-weight: 500;
}
.serve_footer{
    margin-top: 209px;  
    width: 100%;
}
.top_f{
    width: 100%;
    height: 734px;
    background-color: #0a0e44;
    position: relative;
    z-index: -1;
}
.top_dot{
    background: url("../images/dot.png");
    background-repeat: no-repeat;
    background-size: 155px 101px;
    width:155px;
    height: 101px;
    margin-top: -101px;
    margin-left: 1035px;
}

.top_w{
    width: 100%;
    height: 50px;
    background: #fff;
}
.serve_banner{
    position: relative;
    margin-top: 39px;
    width: 100%;
    height: 54px;
}
.serve_banner nav{
    display: inline-block;
    width:180px;
    height: 54px;
    line-height: 54px;
    background: url("../images/enroll.png");
    background-size:180px 54px; 
    font-size: 16px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    cursor: pointer;

}
.serve_banner nav:last-child{
    margin-left: 39px;
}

/* 具备交付能力的程序员 */
.pay{
    width: 100%;  
    /* border: 1px solid red; */
    margin-top: 18px;
    height: 800px;
}
.paybody{
    width: 1400px;
    height: 602px;
    /* overflow: hidden; */
    position: relative;
    z-index: 4;
    float: left;
}
.pay1{
    background-image: url("../images/ability/bg1.png");
    background-size: 1400px 602px;
    height: 602px;
    width: 1400px;
    position: relative;
    z-index: 2;
}
.pay2{
    background-image: url("../images/ability/bg.png");
    background-size: 1400px 580px;
    margin-top: -602px;
    height: 580px;
    width: 1400px;
    position: relative;
    z-index: 1;
}
.pay3{
    background-image: url("../images/ability/bg2.png");
    background-size: 1400px 619px;
    height: 619px;
    margin-top: -378px;
    position: relative;
    z-index: 3;
}
.pay_top{
    width: 465px;
    height: 39px;
    margin: 0 auto;
    background-image: url("../images/work/ice_top.png");
    background-size: 465px 39px;
    margin-top:50px;
}
.pay_top > p{
    width: 348px;
    height: 95px;
    font-size: 28px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;  
    margin: 0 auto;
}
.pay_row{
    width: 427px;
    height: 90px;
    background: url("../images/ability/row.png");
    background-size: 427px 90px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 40px;   
}
.top_one{
    width: 200px;
    float: left;
    margin-right: 21px;
    margin-left: 145px;
    margin-top: 48px;
}
.top_two{
    width: 200px;
    float: left;
    margin-right: 21px;
    margin-top: 24px;
}
.top_three{
    width: 200px;
    float: left;
    margin-right: 21px;
}
.top_four{
    width: 200px;
    float: left;
    margin-right: 21px;
    margin-top: -48px;
}
.top_five{
    width: 200px;
    float: left;
    margin-right: 21px;
    margin-top: -72px;
}
.top_onetop{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    border: 1px solid #00d2cc;
    margin-left: 43px;
    cursor: pointer;
}
.top_onetopn{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    margin-left: 43px;
    cursor: pointer;
}
.top_onetop img{
    width: 79px;
    height: 53px;
    margin: 50% auto;
    margin-top: 26px;
}
 .top_oneshadow{
    width: 100px;
    height:1px;
    background-color:#f0f8fc; 
    border-radius: 50%;
    box-shadow: #a8d8e0 6px 8px 9px 3px;
    margin: 0 auto;
}
.top_onetitle p:first-child{
    margin-top: 15px;
}
.top_onetitle p{
    width:200px;
    font-size: 15px;
    line-height: 30px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    text-align: center;
}

.top_onetitlen p:first-child{
    margin-top: 15px;
}
.top_onetitlen p{
    width:200px;
    font-size: 15px;
    line-height: 30px;
    color: #00d2cc;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    text-align: center;
}

.top_onetxt{
    width: 200px;
    height: 180px;
    box-shadow: 0px 3px 10px rgba(22,136,201,0.1);
    background-color: #ffffff;
}
.top_onetxtn{
    width: 200px;
    height: 227px;
    box-shadow: 0px 3px 10px rgba(22,136,201,0.1);
    background-color: #f5feff;
}
.top_onetxt div{
    width: 158px;
    margin: 0 auto;
}
.top_onetxtn div{
    width: 158px;
    margin: 0 auto;
}
.top_onetxt div p:first-child{
    font-size: 14px;
    line-height: 21px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    text-align: left;   
    margin-top: 8px;
}
.top_onetxtn div p:first-child{
    font-size: 14px;
    line-height: 21px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    text-align: left;   
    margin-top: 8px;
}
.top_onetxt div p:last-child{
    font-size: 12px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    text-align: left;   
}
.top_onetxtn div p:last-child{
    font-size: 12px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    text-align: left;   
}
.pay_footer{
    position: relative;
    top: -168px; 
    z-index: 4;
}
/* 六大语言学科融会贯通 */
.language{
    width: 1400px;
    height: 852px;
    background-color: #090d43;
    margin-top: -45px;
    position: relative;
    overflow: hidden;
}
.lan_top{
    width: 544px;
    height: 42px;
    margin: 0 auto;
    background-image: url("../images/language/bg2.png");
    background-size: 544px 42px;
    margin-top:102px;
}
.lan_top > p{
    width: 428px;
    font-size: 28px;
    color: #00fffa;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin: 0 auto;
}
.lan_six{
    width: 816px;
    margin: 0 auto;
    margin-top: 56px;
    overflow: hidden;
}
.lan_six > div{
    width: 272px;
    height: 197px;
    color: #fff;
    float: left;
    cursor: pointer;
}
.lan_six div:hover{
    background-color: #191259;
}
.lan_six >  div img{
    width: 123px;
    height:155px;
    margin: 22px auto;
    cursor: pointer;
}
.lan_footer{
    margin-top: 16px;
}
/* 你应该知道的事 */
.know{
    width: 1400px;
    background:#090d43;
    margin-top: -217px;
    position: relative;
    z-index: 0;
}
.know_top{
    width: 361px;
    height: 42px;
    margin: 0 auto;
    background-image: url("../images/coop/bg.png");
    background-size: 361px 42px;
    margin-top:102px;
    font-size: 28px;
    color: #00fffa;
    font-family: "Source Han Sans CN";
    font-weight: bold;
} 
 .know_top p{
    width:224px;
    font-size: 28px;
    color: #00fffa;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin: 0 auto;
}
.know_body{
    width: 877px;
    overflow: hidden;
    margin:0 auto;
    margin-top: 36px;
}
.know_left{
    width: 315px;
    height: 285px;
    float: left;
    margin-top: 6px;
}

.kleft_one{
    margin-bottom: 28px;
    width: 314px;
    height: 48px;
    overflow: hidden;
    line-height: 48px;
    border-radius: 7px;
    background-color: #13d2cc;  
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: pointer;
    position: relative;
}
.kleft_one > p{
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #fefeff;
    font-family: "Source Han Sans CN";
    font-weight: 500;
}
.kleft_one > div{
    width: 27px;
    height: 27px;
    line-height: 27px;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 17px;
    color: #13d2cc;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    margin-top: 11px;
    margin-left: 54px;
    margin-right: 14px;
}
.kleft_one > img{
    width: 32px;
    height: 7px;
    position: absolute;
    top: 34px;
    right: 10px;
}
.kleft_two{
    width: 277px;
    height: 46px;
    line-height:46px;
    border-radius: 7px;
    border: 1px solid #13d2cc;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: pointer;
}
.kleft_two > p{
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #13d2cc;
    font-family: "Source Han Sans CN";
    font-weight: 500;
}
.kleft_two > div{
    width: 27px;
    height: 27px;
    line-height: 27px;
    border-radius: 17px;
    background-color: #13d2cc;
    font-size: 17px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    margin-top: 11px;
    margin-left: 39px;
    margin-right: 14px;
}
.kleft_two img{
    display: none;
}
.know_right{
    width: 534px;
    height: 285px;
    float:right;
    border-radius: 7px;
    background-color: #191259;
    border: 1px solid rgba(19,210,204,0.4);
}
#kright_one{
    text-align: left;
    width: 476px;
    height: 125px;
    margin: 0 auto;
    margin-top: 39px;
}
.kright_ul{
    list-style:disc;
    font-size: 12px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}
.kright_ul  li{
    margin-bottom: 10px;
}
#kright_two{
    text-align: left;
    width: 476px;
    height: 125px;
    margin: 0 auto;
    margin-top: 39px;
    display: none;
}
#kright_three{
    text-align: left;
    width: 476px;
    height: 125px;
    margin: 0 auto;
    margin-top: 39px;
    display: none;
}
#kright_four{
    text-align: left;
    width: 476px;
    height: 125px;
    margin: 0 auto;
    margin-top: 18px;
    display: none;
}
.know_footer{
    overflow: hidden;
    margin-top: 22px;
}
.know_space{
    width: 1400px;
    height: 51px;
    background:#090d43;
}
/* 合作企业 */
.coop{
    width: 1400px;
    height: 448px;
    background-image: url("../images/coop/bg1.png");
    background-size: 1400px 448px;
    background-repeat: no-repeat;
    margin-top: -2px;
}
.coop_top{
    width: 361px;
    height: 42px;
    margin: 0 auto;
    background-image: url("../images/coop/bg.png");
    background-size: 361px 42px;
    font-size: 28px;
    color: #00fffa;
    font-family: "Source Han Sans CN";
    font-weight: bold;
} 
.coop_top p{
    width:252px;
    font-size: 28px;
    color: #00fffa;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin: 0 auto;
}
.coop_body{
    width: 909px;
    height: 192px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 69px;
}
.cbody_main{
width: 134px;
height: 44px;
margin-left: 15px;
margin-top: 15px;
}
.cbody_1{
    background: url("../images/coop/1.png");
    background-size: 134px 44px;
    background-repeat: no-repeat;
    float: left;
}
.cbody_2{
    background: url("../images/coop/2.png");
    background-size: 134px 44px;
    background-repeat: no-repeat;
    float: left;
}
.cbody_3{
    background: url("../images/coop/3.png");
    background-size: 134px 44px;
    background-repeat: no-repeat;
    float: left;
}
.cbody_4{
    background: url("../images/coop/4.png");
    background-size: 134px 44px;
    background-repeat: no-repeat;
    float: left;
}
.cbody_5{
    background: url("../images/coop/5.png");
    background-size: 134px 44px;
    background-repeat: no-repeat;
    float: left;
}
.cbody_6{
    background: url("../images/coop/6.png");
    background-size: 134px 44px;
    background-repeat: no-repeat;
    float: left;
}
.coop_footer1{
    font-size: 12px;
    color: #cbcbcb;
    font-family: "Source Han Sans CN";
    margin-top: 52px;
}
.coop_footer2{
    width: 1400px;
    height:85px;
    line-height: 85px;
    background-image: url("../images/coop/bg2.png");
    background-repeat: no-repeat;
    background-size:1400px 85px;
    margin-top:64px;
}
.coop_footer2 p{
    font-size: 12px;
    color: #00c1de;
    font-family: "Source Han Sans CN";
}
/* 底部导航 */
.footer1{
    margin-top: 64px;
    width: 1400px;
    height: 220px;
    background-color: #363d41;
    overflow: hidden;
}
.footer2{
width: 1400px;
height: 28px;
line-height: 28px;
background-color: #282d30;
font-size: 12px;
color: #8b8b8b;
font-family: "Source Han Sans CN";
}
.footer_logo{
    float: left;
    width: 129px;
    height: 112px;
    margin-top: 37px;
    overflow: hidden;
    margin-left: 282px;
    margin-right: 25px;
}
.footer_logo p:first-child{
    margin-top: 13px;
}
.footer_logo p:nth-child(2){
    font-size: 14px;
    color: #13d2cc;
    font-family: "Source Han Sans CN";
    text-align: center;
    margin-top: 17px;
}
.footer_logo p:last-child{
    font-size: 12px;
    color: #8b8b8b;
    font-family: "Source Han Sans CN";
}
.footer_logo img{
    width: 129px;
    height: 31px;
}
.footer_nav{
    width: 1px;
    height: 140px;
    background-color: #525252;
    float: left;
    margin-top: 39px;
}
.footer_txt1{
    float: left;
    margin-left: 39px;
    margin-top: 36px;
    overflow: hidden;
    text-align: left;
}
.footer_txt1 p:first-child{
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    margin-bottom: 16px;
    margin-top: 0px;
}
.footer_txt1 p{
    font-size: 12px;
    color: #8b8b8b;
    font-family: "Source Han Sans CN";
    margin-top: 8px;
}
.footer_nav2{
    width: 1px;
    height: 140px;
    background-color: #525252;
    float: left;
    margin-top: 39px;
    margin-left: 34px;
    margin-right: 41px;
}
.footer_wb{
    width: 96px;
    height: 96px;
    background-image: url("../images/footer/wb.png");
    background-size: 96px 96px;
    background-repeat: no-repeat;
    float: left;
    margin-top: 45px;
}
.footer_wx{
    width: 96px;
    height: 96px;
    background-image: url("../images/footer/wx.png");
    background-size: 96px 96px;
    background-repeat: no-repeat;
    float: left;
    margin-top: 45px;
    margin-left: 36px;
}