*{
    padding: 0;
    margin: 0;
}
body{
    width: 1400px;
    text-align: center;
    margin:0 auto;
}
ul{
    list-style: none;
}

/* 导航样式 */
    header{
        background: #2b2b2b;
        width: 1400px;
        height: 48px;
    }
    .nav{
        overflow: hidden;
    }

.nav_left{
    float: left;
    margin-left: 99px;
    width: 100px;
    height: 48px;
    line-height: 48px;
}
.nav_left img{
    width: 100px;
    height: 26px;
}

.nav_right{
    float: right;
    width: 576px;
    margin-right: 99px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    overflow: hidden; 
}
.nav_right ul li{
    float: left;
}
.nav_right ul li a{
    color:#fff; 
    text-decoration: none;
    font:16px PingFangSC-Regular,sans-serif;
    margin-left: 26px;
}
.nav_right ul li a:hover{
    color:#00c0a9;
}

/* .main{
    position: relative;
} */

/* 轮播 */
#banner{
    width: 1400px;
    height: 420px;
    background: #E6E6E6;
}
#banner_img{
    width: 1400px;
    height: 420px;
    overflow: hidden;
    position: relative;
}
#ul_img{
    position: absolute;
    cursor: pointer;
    width:5600px;
    height: 420px;
}
#ul_img img{
    width: 1400px;
    height: 420px;
}
#ul_img li{
    float: left;
}
#div3{
    position: relative;
    top:-42px;
    width: 112px;
    height: 25px;
    margin:auto;
    background: #192055;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiet{
    width: 8px;
    height: 8px;
     margin: 0 5px; 
     float: left;
     border-radius: 50%;
     background: #a1a2ba;
     cursor: pointer;
    }
.active{
    float: left;
    width: 40px;
    height: 8px;
     margin: 0 5px; 
     border-radius:50px;
     background: #dcdce6;
     cursor: pointer;
    }
/* work */
.work_point{
    width: 1400px;
    height: 1006px;
    background: url("../images/work/work_bg1.png");
    background-size: 1400px 1006px;
    overflow: hidden;
    position: relative;
}
.work_top{
    width:520px;
    height: 54px;
    color:#00fffa;
    font-family: "Source Han Sans CN";
    font-size: 38px;
    font-weight: bold;
    background: url("../images/work/work_bg3.png");
    background-repeat: no-repeat;
    margin:70px auto;
}
.work_button{
    margin-top: 60px;
}
.button_left{
    display: inline-block;
    width:260px;
    line-height: 65px;
    background: url("../images/work/button.png");
    color: white;
    cursor: pointer;
    font-size: 28px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}
.button_right{
    display: inline-block;
    margin-left: 196px;
    width:260px;
    height: 65px;
    line-height: 65px;
    background: url("../images/work/button1.png");
    font-size: 28px;
    color: #82819f;
    font-family: "Source Han Sans CN";
    cursor: pointer;
}
.work_body1{
    padding: 40px;
    width: 1121px;
    height: 501px;
    border: 1px solid #205c83;
    border-radius: 8px;
    margin:50px auto;
    color: #ffffff;
}
.top_1 p{
    float: left;
    display: block;
    font-size: 18px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}
.work_body1 article{
    float: left;
    text-align: left;
    margin-top: 25px;
    display: block;
    color: white;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}
.work_rec{
    display: inline-flex;
}
.rec_1{
    border-bottom:5px solid #00fffa;
}
.rec_2 , .rec_3{
    border-top: 6px solid #00fffa;
}
.rec_1 , .rec_2 , .rec_3{
    width: 347px;
    height: 356px;
    margin-top: 35px;
    text-align: center;
    background-color: #f3fdff;
}
.rec_1 p:first-child{
    width: 100%;
    text-align:center;
    font-size: 20px;
    line-height: 24px;
    color: #070707;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin-top: 38px;
    margin-bottom: 7px;
}
.rec_1 p span{
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #070707;
    font-family: "Source Han Sans CN";
}
.rec_1 .div_item{
    margin: 0 auto;
    margin-top: 7px;
    width: 56px;
    height: 3px;
    background-color: #dbdbdb;
}
.rec_1 article{
    margin-left: 28px;
    margin-top: 27px;
    width: 289px;
    font-size: 14px;
    line-height: 21px;
    color: #080808;
    font-family: "Source Han Sans CN";
    text-align: left;
}

.work_rec div:nth-child(2){
    margin-left:40px;
    margin-right: 40px;
}
.work2_point{
    position: absolute;
    top: 486px;
    z-index: -1;
    width: 1400px;
    height: 1006px;
    background: url("../images/work/work_bg2.png");
    background-size: 1400px 1006px;
}
.risk{
    width: 115px;
    height: 116px;
    text-align: center;
    border: 15px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    margin:0 auto;
    margin-top: 35px;
    cursor: pointer;
}
.risk:hover{
    border-color: #00fffa;  
}
.risk a img{
    margin-top: 23px;
}
.rec_2 p:nth-child(2){
    width: 100%;
    text-align:center;
    font-size: 20px;
    line-height: 24px;
    color: #070707;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin-top: 39px;   
    margin-bottom: 7px;


}
.rec_2 p span{
    margin-top: 27px;   
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin-top: 7px;   
    font-size: 12px;
    line-height: 24px;
    color: #070707;
    font-family: "Source Han Sans CN";
}
.more{
    width: 125px;
    height: 30px;
    border-radius: 6px;
    background-color: #13d2cc;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    margin: 0 auto;
    margin-top: 41px;
    cursor: pointer;
}
.rec_3 p:nth-child(2){
    width: 100%;
    text-align:center;
    font-size: 20px;
    line-height: 24px;
    color: #070707;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin-top: 39px;   
    margin-bottom: 7px;


}
.rec_3 p span{
    margin-top: 27px;   
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin-top: 7px;   
    font-size: 12px;
    line-height: 24px;
    color: #070707;
    font-family: "Source Han Sans CN";
}

 .work_body2{
    padding: 35px 40px;
    width: 1121px;
    height: 582px;
    border: 1px solid #205c83;
    border-radius: 8px;
    margin:50px auto;
    color: #ffffff;
    display: none;
}
.work_body2 article{
    float: left;
    text-align: left;
    margin-top: 25px;
    display: block;
    color: white;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}

.rec_11{
    width: 347px;
    height: 372px;
    margin-top: 61px;
    text-align: center;
    background-color: #013db2;
}
.rec_22{
    width: 348px;
    height: 446px;
    margin-top: 21px;
    text-align: center;
    background-color: #008581;
}
.rec_33{
    width: 347px;
    height: 372px;
    margin-top: 61px;
    text-align: center;
    background-color: #462eb2;
}
.rec_top11{
    position: relative;
    width: 347px;
    height: 127px;
    background-color: #006bd7;
    overflow: hidden;
}
.rec_tri{
    position: absolute;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 55px solid #fff;
    border-left: 57px solid transparent;
}
.rec_top11 p{
    margin: 0 auto;
    margin-top: 38px;
    width: 268px;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: bold;
}
.rec_tri div {
    font-size: 24px;
    line-height: 21px;
    color: #10084b;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    position: absolute;
    top: -48px;
    left: -19px;
}
.rec_bottom11{
    width: 266px;
    height: 254px;
    margin:0 auto;
    margin-top: 42px;
}
.rec_bottom11 p{
    width: 276px;
    height: 322px;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    text-align: left;
}

.rec_top22{
    position: relative;
    width: 348px;
    height: 139px;
    background-color: #00d2cc;
    overflow: hidden;
}
.rec_top22 p{
    margin: 0 auto;
    margin-top: 44px;
    width: 168px;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    }
.rec_tri div {
    font-size: 24px;
    line-height: 21px;
    color: #10084b;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    position: absolute;
    top: -48px;
    left: -19px;
}
.rec_bottom22 p{
    margin-top: 33px;
    width: 285px;
    height: 322px;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    text-align: left;
}   

.rec_top33{
    position: relative;
    width: 347px;
    height: 127px;
    background-color: #7b45fa;
    overflow: hidden;
}
.rec_top33 p{
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin-top: 53px;
}
.rec_bottom33{
    width: 285px;
    height: 322px;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    text-align: left;
    margin-top: 42px;
}
.it_ice{    
    background-color: white;
    width: 1400px;
}
.ice_body{
    background:url("../images/ice_body.png");
    width: 1400px;
    height: 874px;
    background-repeat: no-repeat;
    margin-top: 62px;
    background-size: 1400px 874px;
}
.ice_top{
    width:465px;
    background: url("../images/work/ice_top.png");
    background-repeat: no-repeat;
    margin:0 auto;
    background-size: 465px 39px;

}
.ice_top p{
    width: 358px;
    height: 93px;
    font-size: 28px;
    line-height: 42px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.ice_childbody{
    width: 878px;
    height: 340px;
    margin:0 auto;
    margin-top:18px;
    border-radius: 7px; 
    overflow: hidden;
    box-shadow: 0 0 38px rgba(0,0,0,0.12);
}
.ice_left{
    float: left;
    width:408px;
    height: 340px;
    background-color: #fff;
}
.ice_ltop{
    width: 307px;
    margin:0 auto;
    margin-top: 34px;
}
.ice_ltop p:first-child{
    width: 316px;
    font-size: 15px;
    line-height: 29px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #0e0846;
}
.ice_ltop p:last-child{
    width: 308px;
    font-size: 15px;
    line-height: 29px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #0e0846;
}
.dialog{
    width: 229px;
    height: 84px;
    margin-top: 25px;
    margin-left: 27px;
    overflow: hidden;
}
.dialog_left{
    float: left;
    width: 34px;
    height: 84px;
    overflow: hidden;
}
.dialog_left img{
    width: 34px;
    height: 34px;
    margin-top: 50px;
}
#dialog_right{
    margin-left: 38px;
    width: 191px;
    height: 84px;
    overflow: hidden;
    border-radius: 39px 39px 39px 0px;
    background:#071d50;
}
.dialog_right div:first-child{
    width: 125px;
    margin: 0 auto;
    margin-top: 20px;
}
.dialog_right p{
    margin: 0 atuo;
    font-size:13px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
}
#right_onclick{
    cursor: pointer;
}

.dialog_gray{
    width: 229px;
    height: 84px;
    margin-top: 26px;
    margin-left: 155px;
}
.dialog_gleft{
    float: right;
    width: 34px;
    height: 84px;
    overflow: hidden;
}
.dialog_gleft img{
    width: 34px;
    height: 34px;
    margin-top: 50px;
}
.dialog_gright{
    width: 191px;
    height: 84px;
    overflow: hidden;
    border-radius: 39px 39px 0px 39px;
    background-color: #e6e6e6;
}
.dialog_gright div:first-child{
    width: 130px;
    margin: 0 auto;
    margin-top: 20px;

}
.dialog_gright p{
    margin: 0 atuo;
    font-size:13px;
    line-height: 20px;
    color: #111450;
    text-align: left;
    font-family: "Source Han Sans CN";
}
#gright_onclick{
    cursor: pointer;
}

.ice_right{
    float: right;
    left: 408px;
    width: 470px;
    height: 340px;
    background-color: #081c50;
}
.ice_rdisplay2{
    display: none;
}
.ice_rtop p{
    width: 384px;
    text-align: left;
    margin-left: 53px;
    font-size: 15px;
    line-height: 20px;
    color: #7d7d7d;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    padding-top: 31px;
}
.ice_rtop ul li{
    width: 384px;
    font-size: 12px;
    list-style: disc;
    color: #fff;
    font-family: "Source Han Sans CN";
    text-align: left;
    margin-left: 53px;
    margin-top: 15px;
}
.ice_rbottom{
    width: 234px;
    height:26px;
    line-height: 26px;
    font-size: 12px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    border-radius: 12px;
    margin-left: 53px;
    margin-top: 46px;
    background-color: #13d2cc;
}
.ice_rbottom1{
    width: 232px;
    height:24px;
    border-radius: 12px;
    margin-left: 53px;
    margin-top: 14px;
    border: 1px solid #00ffff; 
    font-size: 12px;
    line-height: 24px;
    color: #13d2cc;
    font-family: "Source Han Sans CN";
    font-weight: 500;
}
.ice_rtop1 p{
    width: 384px;
    text-align: left;
    margin-left: 36px;
    font-size: 15px;
    line-height: 20px;
    color: #7d7d7d;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    margin-top: 5px;
}
.ice_rtop1 > ul li{
    width: 416px;
    list-style: disc;
    color: #fff;
    font-family: "Source Han Sans CN";
    text-align: left;
    margin-left: 36px;
    margin-top: 6px;
}
.ice_rbottom2{
    width: 234px;
    height:26px;
    line-height: 26px;
    font-size: 12px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    border-radius: 12px;
    margin-left: 53px;
    margin-top: 4px;
    background-color: #13d2cc;
}
.ice_rbottom12{
    width: 232px;
    height:24px;
    border-radius: 12px;
    margin-left: 53px;
    margin-top: 8px;
    border: 1px solid #00ffff; 
    font-size: 12px;
    line-height: 24px;
    color: #13d2cc;
    font-family: "Source Han Sans CN";
    font-weight: 500;
}

/* 全方位服务你的学习 */
.it_serve{
    margin-top: -372px;
    width: 1400px;
    overflow: hidden;
}

.serve_top{
    width: 465px;
    background-image: url("../images/work/ice_top.png");
    background-size: 465px 39px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.serve_top p{
    width: 349px;
    font-size: 26px;
    line-height: 42px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}
.serve_lbody{
    float: left;
    width: 392px;
    border-radius: 7px;
    background-color: #ffffff;
    margin-left: 263px;
    margin-top: 31px;
    overflow: hidden;
}
.serve_lbody > p{
    font-size: 15px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    margin-top: 26px;
}
.serve_lbody  div{
    width: 341px;
    padding:0px 27px;
    text-align: left;   
    margin-bottom: 7px;
}
.serve_lbody div p:last-child{
    font-size: 12px;
    color:#333 ;
}
.top_art{
    margin-top: 15px;
}
.serve_lbody  div > p{
    font-size: 14px;
    color: #000000;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    margin-bottom:7px; 
}
.lbody_gray{
    background:#f8f8f8;
}
.lbody_end p:last-child{
margin-bottom: 39px;
}
.serve_vs{
    position: relative;
    top: 114px;
    margin-left: 642px;
    width:111px;
    height: 78px;
    background: url("../images/vs.png");
    background-size: 111px 78px;
    z-index: 2;
}
.serve_rbody{
    width: 395px;
    float: right; 
    margin-top: -49px; 
    margin-right: 261px; 
    overflow: hidden;
    border-radius: 0 0 7px 7px;
}
.rbody_top{
    width: 100%;
    height: 64px;
    font-size: 15px;
    background-color: #0c64bd;
    line-height: 64px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.rbody_topy{
    width: 100%;
    height: 30px;
    margin-top: -15px;
    background: #013db2;
    position: relative;
    z-index: 0;
}
.rbody_topy > div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0c64bd;
    margin: 0 auto;

}
.rbody_topy >div img{
    width:13 px;
    height: 8px;
    margin-top: 15px;
}
.rbody_footer{
    width: 100%;
    background-color: #013db2;
    overflow: hidden;
}
.rbody_footer div{
    width: 339px;
    margin: 0 auto;
    overflow: hidden;
}
.rbody_footer div:last-child{
    margin-bottom: 21px;
}
.rbody_footer p:first-child{
    margin-top: 17px;
    text-align: left;
    margin-bottom: 3px;
}
.rbody_footer span{
    padding: 0px 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #fff;
    background-color: #0e0846;
    font-size: 14px;
    font-family: "Source Han Sans CN";
    font-weight: 500;
}
.rbody_footer div p:last-child{
    text-align: left;
    font-size: 12px;
    color:#ccc;
    font-family: "Source Han Sans CN";
    font-weight: 500;
}
.serve_footer{
    margin-top: 209px;  
    width: 100%;
}
.top_f{
    width: 100%;
    height: 734px;
    background-color: #0a0e44;
    position: relative;
    z-index: -1;
}
.top_dot{
    background: url("../images/dot.png");
    background-repeat: no-repeat;
    background-size: 155px 101px;
    width:155px;
    height: 101px;
    margin-top: -101px;
    margin-left: 1035px;
}

.top_w{
    width: 100%;
    height: 50px;
    background: #fff;
}
.serve_banner{
    position: relative;
    margin-top: 39px;
    width: 100%;
    height: 54px;
}
.serve_banner nav{
    display: inline-block;
    width:180px;
    height: 54px;
    line-height: 54px;
    background: url("../images/enroll.png");
    background-size:180px 54px; 
    font-size: 16px;
    color: #ffffff;
    font-family: "Source Han Sans CN";
    cursor: pointer;

}
.serve_banner nav:last-child{
    margin-left: 39px;
}
/* 具备交付能力的程序员 */
.pay{
    width: 100%;  
    border: 1px solid red;
    margin-top: 18px;
    height: 800px;
}
.pay1{
    background-image: url("../images/ability/bg1.png");
    background-size: 1400px 602px;
    height: 602px;
    width: 1400px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.pay2{
    background-image: url("../images/ability/bg.png");
    background-size: 1400px 580px;
    margin-top: -602px;
    height: 580px;
    width: 1400px;
    position: relative;
    z-index: 1;
}
.pay3{
    background-image: url("../images/ability/bg2.png");
    background-size: 1400px 619px;
    height: 619px;
    margin-top: -480px;
}
.pay_top{
    width: 465px;
    height: 39px;
    margin: 0 auto;
    background-image: url("../images/work/ice_top.png");
    background-size: 465px 39px;
    margin-top:50px;
}
.pay_top > p{
    width: 348px;
    height: 95px;
    font-size: 28px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;  
    margin: 0 auto;
}
.pay_row{
    width: 427px;
    height: 90px;
    background: url("../images/ability/row.png");
    background-size: 427px 90px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 40px;   
}

.top_one{
    width: 200px;
    float: left;
    margin-right: 21px;
    margin-left: 145px;
    margin-top: 40px;
}
.top_two{
    width: 200px;
    float: left;
    margin-right: 21px;
    margin-top: 24px;
}
.top_three{
    width: 200px;
    float: left;
    margin-right: 21px;
}
.top_four{
    width: 200px;
    float: left;
    margin-right: 21px;
}
.top_five{
    width: 200px;
    float: left;
    margin-right: 21px;
}
.top_onetop{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    border: 1px solid #00d2cc;
    margin-left: 43px;
}
.top_onetop img{
    width: 79px;
    height: 53px;
    margin: 50% auto;
    margin-top: 26px;
}
.top_one .top_oneshadow{
    width: 100px;
    height:1px;
    background-color:#f0f8fc; 
    border-radius: 50%;
    box-shadow: #a8d8e0 6px 8px 9px 3px;
    margin: 0 auto;
}
.top_onetitle p{
    width:200px;
    font-size: 15px;
    line-height: 30px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: 500;
    text-align: center;
}
.top_onetxt{
    width: 200px;
    height: 180px;
    box-shadow: 0px 3px 10px rgba(22,136,201,0.1);
    background-color: #ffffff;
}
.top_onetxt div{
    width: 158px;
    margin: 0 auto;
}
.top_onetxt div p:first-child{
    font-size: 14px;
    line-height: 21px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    font-weight: bold;
    text-align: left;   
    margin-top: 8px;
}
.top_onetxt div p:last-child{
    font-size: 12px;
    color: #0e0846;
    font-family: "Source Han Sans CN";
    text-align: left;   
}





.language{
    width: 1400px;
    height: 400px;
    background-color: red;
    margin-top: -69;
}