#main > .bgfff {
    box-shadow: 0 2px 10px 0 rgba(7, 17, 27, 0.1);
}
#main > .bg000 {
    box-shadow: 0 2px 10px 0 rgba(7, 17, 27, 0.1); 
}
.bgfff {
    background-color: #fff !important;
}
.bg000{
    background-color: #f8fafc !important;
}
.banner-box {
    padding-top: 32px;
    overflow: hidden;
}
.bk {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(#108c82, white);
    opacity: 0.6;
    filter: blur(100px); 
}

.banner-box {
    padding-top: 32px;
    width: 100%; 
}
.g-banner {
    height: 382px;
    background-color: #93999f;
    box-shadow: 0 12px 24px 0 rgba(7, 17, 27, 0.2);
    position: relative;
    overflow: hidden;
    width: 1152px;
    margin: auto;
    border-radius: 8px;
}
.g-banner .prev:hover,.g-banner .next:hover {
    color: #fff !important;
    background: rgba(7, 17, 27, 0.6); 
}
.a,.b,.c,.d,.e,.f,.g{
    display: none;
}
.menuwrap {
    background-color: rgba(7, 17, 27, 0.5);
    opacity: 0.502;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 216px;
    height: 382px;
    z-index: 1; 
}
.submenu:hover{
    display: block;
}
.menuContent {
    position: relative;
    float: left;
    width: 216px;
    height: 382px;
    z-index: 2;
    padding-top: 17px;
    box-sizing: border-box;
    background: #2b333b;
    border-bottom-left-radius: 4px;
    font-weight: 400;
}
.menuContent .item {
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 12px;
    position: relative;
}
.menuContent .item:hover a{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
} 
.menuContent .item  >a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    padding: 0 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 50px;
    transition: all .1s; 
}
.menuContent .item i {
    position: absolute;
    right: 8px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px; 
    top:16px;
}
.imv2-arrow1_r:before {
    content: "\e5cb";
}

/* 侧边栏 */
.submenu {
    background: #fff;
    position: absolute;
    left: 216px;
    top: 0px;
    width: 768px;
    height: 382px;
    z-index: 581;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.innerBox {
    background-color: #fff;
    padding: 26px 36px 32px;
    position: relative;
    min-height: 150px;
}
.subinnerBox {
    overflow: hidden;
    box-sizing: border-box; 
}
.fe-base-box {
    overflow: hidden; 
}
.banner-line {
    line-height: 22px;
    margin-bottom: 12px;
    overflow: hidden;
}
.banner-line span {
    font-size: 14px;
    color: #1C1F21;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: bold;
}
.bold {
    font-weight: 700!important;
}
.mr10 {
    margin-right: 10px!important;
}
.tag-box {
    font-size: 0; 
}
.tag-box a {
    margin-bottom: 16px;
    font-size: 14px;
    color: #4D555D;
    line-height: 22px;
    margin-right: 24px;
    display: inline-block; 
}
.tag-box a:hover {
    color: red; 
}

.tag-box a:last-child {
    margin-right: 0; 
}
.l {
    float: left; 
}
.recomment-box {
    position: absolute;
    bottom: 0;
    background: #F8FAFC;
    padding: 27px 0 0px 36px;
}
.banner-course-card {
    width: 312px;
    margin-right: 48px;
    margin-bottom: 27px;
}
.recomment-box .banner-course-card .course-card {
    margin-left: 16px;
}
.banner-course-card:hover .imv2-dot_samll{
    color: red;
}
.recomment-box a {
    display: block;
    width: 100%;
    height: 100%; 
}
.recomment-box a img {
    width: 64px;
    height: 42px;
    border-radius: 4px;
    background-color: #ccc; 
}
.recomment-box .banner-course-card .course-card-name {
    width: 226px;
    font-size: 12px;
    color: #07111B;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.course-card-info,.course-card-price {
    font-size: 12px;
    color: #4D555D;
    line-height: 20px; 
}
.course-card-price {
    font-weight: bold; 
}
.sales {
    color: #f01414; 
}
.sales-tip {
    box-sizing: border-box;
    background: rgba(242, 13, 13, 0.6);
    border-radius: 4px;
    color: #fff;
    padding: 0 4px;
    display: inline-block;
    text-align: center;
    position: relative; 
}
.course-card-dot i:before {
    content: "\e94c";
}
.icon-set_sns:before {
    content: "\e923";
    font-family: 'icomoon';
}

/* 轮播图 */
.g-banner-content {
    position: relative;
    float: left;
    width: 936px; 
}
.g-banner-box {
    position: relative;
    height: 382px;
}
.g-banner-box > a:first-child .banner-slide {
    display: block;
}
.banner-slide {
    position: absolute;
    display: none;
    width: 936px;
    height: 382px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center 0;
}
.banner-slide img {
    width: 100%;
    height: 100%;
}
.banner-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: right;
    padding-right: 24px;
    line-height: 12px;
}
.banner-dots .tab {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-left: 8px;
    background: rgba(255, 255, 255, 0.75);
    transition: transform .2s;
    cursor: pointer;
}
.g-banner .prev {
    left: 16px;
}
.icon-left2:before {
    content: "\e913";
    font-family: 'icomoon';
}
.g-banner .next {
    right: 16px;
    
}
.icon-right2:before {
    content: "\e914";
    font-family: 'icomoon';
}
.g-banner .banner-anchor {
    position: absolute;
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    overflow: hidden;
    line-height: 48px;
    background: rgba(28, 31, 33, 0.1);
    border-radius: 50%;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
}
/* 就业班和职场进阶 */
.container-types {
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 36px 0 38px;
}
.container-recommend {
    padding-top: 0px;
    padding-bottom: 44px;
}
.types-title {
    position: relative;
    font-size: 24px;
    color: #1C1F21;
    letter-spacing: 0px;
    line-height: 32px;
}
.title-top{
    margin-top: 44px;
}
.container-types .types-title span {
    float: left;
    font-weight: bold;
}
.container-types .types-title .intro {
    margin-top: 6px;
    margin-left: 12px;
    font-weight: normal;
    font-size: 14px;
    color: #545C63;
    line-height: 20px;
}
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.path-list {
    margin-top: 24px;
}
.path-list > a:first-child {
    margin-left: 0;
}
.path-list a:hover {
    box-shadow: 0px 4px 8px #0000001f;
}
.path-list > a {
    float: left;
    margin-left: 18px;
    font-size: 0;
    display: block;
    width: 216px;
    padding-top: 15px;
    height: 65px;
    overflow: hidden;
    transition: all .3s;
    background: #F3F5F6;
    border-radius: 8px;
}
.path-list i {
    float: left;
    width: 50px;
    height: 50px;
    background: url(./Bgfff1/img/rec/box-all.png) no-repeat;
    background-size: 100%;
    margin-left: 12px;
    margin-right: 10px;
}
.path-list .i-web {
    background-position: center 0;
}
.path-list .i-java {
    background-position: center -50px;
}
.path-list .i-python {
    background-position: center -100px;
}
.path-list .i-android {
    background-position: center -150px;
}
.path-list .i-php {
    background-position: center -200px;
}
.path-list .tit {
    font-size: 16px;
    font-weight: bold;
    color: #1C1F21;
    letter-spacing: 1px;
    margin-top: 4px;
}
.path-list .desc {
    font-size: 12px;
    color: #1C1F21;
    line-height: 16px;
    margin-top: 2px;
    font-weight: 400;
}
.recommend-box {
    margin-top: 24px;
    margin-left: 0px;
}
.recommend-box .recommend {
    width: 368px;
    height: 90px;
    margin-right: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.recommend-box a:last-child .recommend {
    margin-right: 0;
}

/* Bg0001 */
.container-types .types-content {
    width: 1176px;
    margin-top: 24px;
    margin-left: -24px;
}
.container-types .index-card-container {
    float: left;
    margin-left: 24px;
    border-radius: 4px;
    margin-bottom: 12px;
}
.index-card-container:hover a .course-card-content h3{
    color: red;
}
.course-card-container {
    width: 270px;
    height: 268px;
    position: relative;
    transition: .3s all linear;
}
.course-stat.new {
    background-color: #FFAA00;
    background-image: linear-gradient(90deg, #ffaa00 17%, #f76b1c 100%);
}
.course-stat.upgrade {
    background-color: #9447EB;
    background-image: linear-gradient(90deg, #bd89f8 6%, #9447eb 93%);
}
.course-card-container .course-stat {
    position: absolute;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    top: 8px;
    left: -8px;
    z-index: 4;
    font-family: 'dincondm';
    font-size: 12px;
    color: #FFFFFF;
    line-height: 20px;
    padding: 0 8px;
}
.course-card-container .course-card-top.hashadow {
    overflow: hidden;
}
.course-card-container .course-card-top {
    width: 270px;
    height: 148px;
    position: relative;
    border-radius: 8px;
    transition: all .3s;
}
.course-card-container .course-card-top .course-banner {
    width: 100%;
    height: 100%;
    background-color: #f3f5f7;
    border-radius: 8px;
}
fieldset, img {
    border: 0;
}
.course-card-container .course-card-top .course-label {
    position: absolute;
    bottom: 6px;
    left: 8px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
}
.course-card-container .course-card-top .course-label label {
    display: inline-block;
    background: rgba(28, 31, 33, 0.6);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 2px;
    margin-bottom: 2px;
    font-weight: 200;
}
.course-card-container .course-card-content {
    padding: 8px;
}
.course-card-container .course-card-content .course-card-name {
    font-size: 16px;
    color: #07111B;
    line-height: 24px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all .3s;
    font-weight: bold;
    height: 46px;
}
.course-card-container .course-card-content .course-card-bottom {
    position: relative;
}
.course-card-container .course-card-content .course-card-info {
    font-size: 12px;
    color: #9199A1;
    line-height: 18px;
    margin-top: 4px;
    font-weight: 400;
}
.imv2-set-sns:before {
    content: "\e904";
}
.course-card-container .course-card-content .course-card-info span {
    display: inline-block;
    margin-right: 12px;
}
/* 隐藏标签 */
.course-card-content .evaluation-desc-box {
    display: none;
    position: absolute;
    top: 30px;
    width: 246px;
    padding: 16px 0px;
    background: #ff9900;
    border-radius: 4px;
    z-index: 10;
}
.evaluation-desc-box .trangle {
    position: absolute;
    top: -6px;
    right: 18px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ff9900;
}
.evaluation-desc-box .left-box {
    width: 126px;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}
.evaluation-desc-box p {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
}
.evaluation-desc-box .right-box p:nth-child(2) {
    margin: 8px 0px;
}
.left-box .big-text {
    font-size: 20px;
    line-height: 20px;
    margin: 4px 0px;
}
.evaluation-desc-box .right-box {
    width: 120px;
    text-align: center;
}
.course-card-price {
    font-size: 12px;
    color: #545C63;
}
.evaluation-desc-box .right-box span {
    margin-left: 4px;

}
.imv2-ques{
    font-size: 22px;
    color: #B2B8BD;
    letter-spacing: 3.3px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    margin-left: 6px;
}
.imv2-ques:before {
    content: "\e615";
    font-family:'imv2'
}
.rank-info:hover > .info{
    display: block;
}
.rank-info .info {
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 9;
    font-size: 12px;
    color: #1C1F21;
    text-align: center;
    line-height: 26px;
    background: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(28, 31, 33, 0.2);
    border-radius: 12px;
    width: 290px;
    height: 200px;
    box-sizing: border-box;
    padding: 35px 20px;
}
.rank-info .info dt {
    font-weight: bold;
}
.free {
    border-top: 1px solid rgba(28, 31, 33, 0.1);
    margin-top: 13px;
    padding-top: 13px;
}
.js-rank-tab{
    float: left;
    margin-left: 36px;
}
.types-title ul li {
    margin: 0 14px;
    float: left;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    cursor: pointer;
    color: #545C63;
}
.types-title ul li:hover{
    color: red;
}
.types-title ul li.curr {
    color: #F20D0D;
    border-bottom: 2px solid #F20D0D;
}
.banner_wk {
    display: inline-block;
    width: 272px;
    height: 32px;
    background: url(./Bg000/img/banner_weike.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
/* 
bg0002 
*/
.types-title .more {
    float: right;
    margin-top: 2px;
    line-height: 24px;
    color: #1C1F21;
}
.more{
    color: #4d555d;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    top: -4px;
}
.types-title .more:hover {
    color: 
    #383D42;
}
.imv2-right2:before {
    content: "\e925";
}
.container-types .types-content {
    margin-top: 24px;
    margin-left: -24px;
}
.course-path-container {
    float: left;
    margin-left: 24px;
    margin-bottom: 24px;
    width: 564px;
    height: 148px;
}
.container-path .types-content .course-path-container .course-banner {
    float: left;
    position: relative;
    transition: all .3s;
    width: 140px;
    height: 140px;
    background-color: #f3f5f7;
    border-radius: 8px;
}
.img-up {
    left: 0px;
    top: 0;
    width: 140px;
    height: 140px;
    z-index: 3;
}
.img-mid {
    top: 4px;
    left: 4px;
    width: 132px;
    height: 140px;
    opacity: 0.4;
    z-index: 2;
}
.img-down {
    top: 8px;
    left: 8px;
    width: 124px;
    height: 140px;
    opacity: 0.2;
    z-index: 1;
}
.container-path .types-content .course-path-container .course-banner .img-up, .container-path .types-content .course-path-container .course-banner .img-mid, .container-path .types-content .course-path-container .course-banner .img-down {
    margin: 0 auto;
    position: absolute;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}